
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --primary-color: #943939;
    --secondary-color: white;
    --accent1-color: lightgreen;
    --accent2-color: pink;
  
    --heading-font: Roboto, Sans-serif;
    --paragraph-font: "Open Sans",Sans-serif;
  
    --nav-background-color:steelblue;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: hotpink;
    --nav-hover-background-color: green;
}


 h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


a:link {
    text-decoration: none;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero{
    position: relative;
}

h1, article {
    position: absolute;
}

.herodiv img{
    display: block;
    width: 100%;
    height: auto;
}


.herodiv h1{
    padding: 7px;
    background-color: rgba(0, 0, 0,.3);
    position: absolute;
    color: var(--secondary-color);
    text-align: center;
    top: 20px;
    margin: 2rem;
    right: 27%;
    position: absolute;
}



article{
    position: absolute;
    background-color: rgba(82,136,217,.5);
    padding: 10px;
    top: 150px;
    margin: 2rem;
}


article img{
    float: right;
    width: 155px;
    height: auto;
    border: 1px solid steelblue;
}


article p{
    color: var(--secondary-color);
}


.sociallinks img {
    width: 50px;
}

/* week four*/

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 2fr 2fr;
	align-items: center;
	border-bottom: 2px solid #ccc;
	max-width: 1000px;
}



nav {
	display: flex;
	list-style: none;
}

nav a{
    flex: 1 1 100%;
}




section h2{
    font-size: 30px;
}

.sociallinks{
    text-align: right;
}

section img {
    width: 50px;
    height: 50px;

}
